# Data Mining Project - Predicting Interest Rates
Markus KÃ¤ngsepp

## Preprocessing Data

In [28]:
file1 = "data_loan/LoanStats_securev1_2016Q1.csv"
file2 = "data_loan/LoanStats_securev1_2016Q2.csv"
file3 = "data_loan/LoanStats_securev1_2016Q3.csv"
file4 = "data_loan/LoanStats_securev1_2016Q4.csv"

f_desc = "data_loan/loan_desc.csv"

In [29]:
dataQ1 <- read.csv(file1, skip = 1)  # Added line with description so skip = 2.
dataQ2 <- read.csv(file2, skip = 1)
dataQ3 <- read.csv(file3, skip = 1)
dataQ4 <- read.csv(file4, skip = 1)

In [30]:
head(dataQ1)

  id       member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate
1 76153534 NA        28000     28000       28000            36 months   6.49%
2 76153691 NA         7200      7200        7200            36 months   8.39%
3 75993542 NA        10850     10850       10850            36 months  13.67%
4 75273614 NA         2000      2000        2000            36 months  28.34%
5 75359225 NA        20000     20000       20000            36 months   5.32%
6 74805010 NA         3000      3000        3000            36 months   9.75%
  installment grade sub_grade ... sec_app_earliest_cr_line
1 858.05      A     A2        ... NA
2 226.92      B     B1        ... NA
3 369.10      C     C3        ... NA
4  83.10      G     G3        ... NA
5 602.30      A     A1        ... NA
6  96.45      B     B3        ... NA
  sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util
1 NA                     NA               NA               NA
2 NA                     NA               NA               NA
3 NA                     NA               NA               NA
4 NA                     NA               NA               NA
5 NA                     NA               NA               NA
6 NA                     NA               NA               NA
  sec_app_open_il_6m sec_app_num_rev_accts sec_app_chargeoff_within_12_mths
1 NA                 NA                    NA
2 NA                 NA                    NA
3 NA                 NA                    NA
4 NA                 NA                    NA
5 NA                 NA                    NA
6 NA                 NA                    NA
  sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog
1 NA                                 NA
2 NA                                 NA
3 NA                                 NA
4 NA                                 NA
5 NA                                 NA
6 NA                                 NA

### Add description to column names to get better understanding of the data

In [97]:
n = length(colnames(dataQ1))

col_desc = rep("", n)


for(i in c(1:128))
{
    #print(colnames(dataQ1)[i])
    #print(as.character(desc[desc$V1 == colnames(dataQ1)[i], 2][1]))
    d = as.character(desc[desc$V1 == colnames(dataQ1)[i], 2])
    if(length(d) == 0)
    {
        d = ""
    }
    
    col_desc[i] = d
    
}

col_desc = cbind(colnames(dataQ1), col_desc)

In [103]:
write.table(t(col_desc), file = "data_loan/sorted_desc.csv", sep = ",", col.names = F, row.names = F)

### Selecting initial columns that may be useful

In [ ]:
## total_acc (37) last interesting row
#colnames(dataQ1)[37]

# Put all data to one data.frame
data16 = rbind(head(dataQ1[, c(1:37)],-2), head(dataQ2[, c(1:37)],-2), head(dataQ3[, c(1:37)],-2), head(dataQ4[, c(1:37)],-2))

In [54]:
tail(data16)
data16[59470,]

       id       member_id loan_amnt funded_amnt funded_amnt_inv term
434402 89955820 NA        24000     24000       24000            60 months
434403 89885898 NA        24000     24000       24000            60 months
434404 88977788 NA        24000     24000       24000            60 months
434405 88985880 NA        40000     40000       40000            60 months
434406 88224441 NA        24000     24000       24000            60 months
434407 88215728 NA        14000     14000       14000            60 months
       int_rate installment grade sub_grade ... fico_range_low fico_range_high
434402  10.49%  515.74      B     B3        ... 725            729
434403  12.79%  543.50      C     C1        ... 665            669
434404  10.49%  515.74      B     B3        ... 695            699
434405  10.49%  859.56      B     B3        ... 705            709
434406  14.49%  564.56      C     C4        ... 660            664
434407  14.49%  329.33      C     C4        ... 660            664
       inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc
434402 0              NA                     42                     15
434403 0              NA                     NA                      5
434404 1              60                     69                     24
434405 1               9                     NA                      5
434406 0              67                     72                     10
434407 1              37                     NA                      8
       pub_rec revol_bal revol_util total_acc
434402 2       22448     22.4%      22
434403 0       49431     84.4%      54
434404 1       21665     39%        58
434405 0        8633     64.9%      37
434406 1       17641     68.1%      31
434407 0        7662     54%        22

      id       member_id loan_amnt funded_amnt funded_amnt_inv term
59470 72565730 NA        8000      8000        8000             36 months
      int_rate installment grade sub_grade ... fico_range_low fico_range_high
59470  10.75%  260.97      B     B4        ... 670            674
      inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc
59470 2              16                     NA                     16
      pub_rec revol_bal revol_util total_acc
59470 0       10284     62%        39

In [55]:
#write.csv(data2016, "data_loan/data16.csv", row.names = F)  # For some reason turns some months to numbers... i.e Jan-16 to 42401

In [56]:
data16 <- read.csv("data_loan/data16.csv")

In [57]:
head(data16[,c(1:10)])
head(data16[,c(10:20)])

  id       member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate
1 76153534 NA        28000     28000       28000            36 months 6.49%
2 76153691 NA         7200      7200        7200            36 months 8.39%
3 75993542 NA        10850     10850       10850            36 months 13.67%
4 75273614 NA         2000      2000        2000            36 months 28.34%
5 75359225 NA        20000     20000       20000            36 months 5.32%
6 74805010 NA         3000      3000        3000            36 months 9.75%
  installment grade sub_grade
1 858.05      A     A2
2 226.92      B     B1
3 369.10      C     C3
4  83.10      G     G3
5 602.30      A     A1
6  96.45      B     B3

  sub_grade emp_title         emp_length home_ownership annual_inc
1 A2        IT                10+ years  MORTGAGE       117000
2 B1        Director of Slots 10+ years  RENT           197000
3 C3        Manager           10+ years  MORTGAGE        44000
4 G3        security officer  2 years    RENT            24000
5 A1        President         10+ years  MORTGAGE       165000
6 B3        sales             < 1 year   RENT            24000
  verification_status issue_d loan_status pymnt_plan
1 Not Verified        Mar-16  Current     n
2 Not Verified        Mar-16  Current     n
3 Verified            Mar-16  Current     n
4 Verified            Mar-16  Fully Paid  n
5 Not Verified        Mar-16  Current     n
6 Source Verified     Mar-16  Current     n
  url                                                               desc
1 https://lendingclub.com/browse/loanDetail.action?loan_id=76153534
2 https://lendingclub.com/browse/loanDetail.action?loan_id=76153691
3 https://lendingclub.com/browse/loanDetail.action?loan_id=75993542
4 https://lendingclub.com/browse/loanDetail.action?loan_id=75273614
5 https://lendingclub.com/browse/loanDetail.action?loan_id=75359225
6 https://lendingclub.com/browse/loanDetail.action?loan_id=74805010

In [34]:
str(data16$emp_length)

 Factor w/ 13 levels "","< 1 year",..: 4 4 4 5 4 2 6 6 3 12 ...

In [53]:
data16[59470,]
head(dataQ1, -2)

      id       member_id loan_amnt funded_amnt funded_amnt_inv term
59470 72565730 NA        8000      8000        8000             36 months
      int_rate installment grade sub_grade ... fico_range_low fico_range_high
59470  10.75%  260.97      B     B4        ... 670            674
      inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc
59470 2              16                     NA                     16
      pub_rec revol_bal revol_util total_acc
59470 0       10284     62%        39

       id       member_id loan_amnt funded_amnt funded_amnt_inv term
1      76153534 NA        28000     28000       28000            36 months
2      76153691 NA         7200      7200        7200            36 months
3      75993542 NA        10850     10850       10850            36 months
4      75273614 NA         2000      2000        2000            36 months
5      75359225 NA        20000     20000       20000            36 months
6      74805010 NA         3000      3000        3000            36 months
7      76042475 NA         6000      6000        6000            36 months
8      75061834 NA        20000     20000       20000            36 months
9      75933549 NA        24000     24000       24000            60 months
10     76143686 NA         9000      9000        9000            36 months
11     74523825 NA        12000     12000       12000            60 months
12     75963286 NA        25000     25000       25000            36 months
13     76113668 NA         7025      7025        7025            36 months
14     76143234 NA         8000      8000        8000            36 months
15     76052683 NA        15000     15000       15000            60 months
16     75779547 NA        10000     10000       10000            36 months
17     75387867 NA         8400      8400        8400            36 months
18     75911265 NA         6400      6400        6400            36 months
19     76042301 NA        24000     24000       24000            36 months
20     76092999 NA         8425      8425        8425            36 months
21     75587478 NA        13500     13500       13500            36 months
22     75740571 NA         5000      5000        5000            36 months
23     76153758 NA         8075      8075        8075            36 months
24     76111475 NA        16000     16000       16000            60 months
25     76133052 NA         7125      7125        7125            36 months
26     76121773 NA        16000     16000       16000            36 months
27     75151243 NA         2650      2650        2650            36 months
28     76152329 NA        20000     20000       20000            36 months
29     75879932 NA         3000      3000        3000            36 months
30     75659952 NA        21125     21125       21125            60 months
...    ...      ...       ...       ...         ...             ...
133858 66472917 NA        15000     15000       15000            36 months
133859 66444826 NA        19000     19000       18750            36 months
133860 66545300 NA        15000     15000       15000            36 months
133861 66634609 NA        11000     11000       11000            36 months
133862 66444535 NA        10000     10000       10000            36 months
133863 66563812 NA         6000      6000        6000            36 months
133864 66643445 NA         4500      4500        4500            36 months
133865 66623289 NA         7500      7500        7500            36 months
133866 66453994 NA        34000     34000       34000            36 months
133867 66523229 NA        16800     16800       16800            36 months
133868 66541817 NA         8500      8500        8500            36 months
133869 65792205 NA        35000     35000       35000            60 months
133870 66442993 NA        25000     25000       24800            36 months
133871 66532821 NA        12600     12600       12600            60 months
133872 66602737 NA        12000     12000       12000            36 months
133873 66453496 NA         5000      5000        5000            36 months
133874 66492137 NA         5000      5000        5000            36 months
133875 66450446 NA        12950     12950       12950            36 months
133876 65374128 NA        21175     21175       20925            60 months
133877 66422233 NA        24000     24000       24000            36 months
133878 66501924 NA         6000      6000        6000            36 months
133879 65855145 NA         6000      6000        6000            36 months
133880 66421505 NA        24100     24100       24100            60 months
133881 66601274 NA         4000      4000        4000            36 months
133882 66390905 NA         5000      5000        5000            36 months
133883 65854936 NA         6000      6000        6000            36 months
133884 66055600 NA         6000      6000        6000            36 months
133885 66141895 NA        14400     14400       14400            60 months
133886 65673209 NA        34050     34050       34050            36 months
133887 65744272 NA         5000      5000        5000            36 months
       int_rate installment grade sub_grade ... sec_app_earliest_cr_line
1        6.49%  858.05      A     A2        ... NA
2        8.39%  226.92      B     B1        ... NA
3       13.67%  369.10      C     C3        ... NA
4       28.34%   83.10      G     G3        ... NA
5        5.32%  602.30      A     A1        ... NA
6        9.75%   96.45      B     B3        ... NA
7       10.75%  195.73      B     B4        ... NA
8       11.47%  659.24      B     B5        ... NA
9       19.53%  629.60      D     D5        ... NA
10      15.31%  313.36      C     C5        ... NA
11      11.47%  263.74      B     B5        ... NA
12       5.32%  752.87      A     A1        ... NA
13      12.99%  236.67      C     C2        ... NA
14      10.75%  260.97      B     B4        ... NA
15       9.16%  312.55      B     B2        ... NA
16       6.49%  306.45      A     A2        ... NA
17      13.67%  285.75      C     C3        ... NA
18      11.47%  210.96      B     B5        ... NA
19       9.75%  771.60      B     B3        ... NA
20      15.31%  293.34      C     C5        ... NA
21       5.32%  406.55      A     A1        ... NA
22       9.75%  160.75      B     B3        ... NA
23       8.39%  254.50      B     B1        ... NA
24      14.46%  376.12      C     C4        ... NA
25      13.67%  242.38      C     C3        ... NA
26       5.32%  481.84      A     A1        ... NA
27      11.47%   87.35      B     B5        ... NA
28       8.39%  630.34      B     B1        ... NA
29      11.47%   98.89      B     B5        ... NA
30      11.99%  469.81      C     C1        ... NA
...    ...      ...         ...   ...           ...
133858   7.89%   469.29     A     A5        ... NA
133859  11.99%   630.99     C     C1        ... NA
133860   6.89%   462.41     A     A3        ... NA
133861   9.17%   350.67     B     B2        ... NA
133862  11.22%   328.43     B     B5        ... NA
133863  11.99%   199.26     C     C1        ... NA
133864   9.76%   144.70     B     B3        ... NA
133865   9.76%   241.16     B     B3        ... NA
133866   9.76%  1093.26     B     B3        ... NA
133867   7.26%   520.74     A     A4        ... NA
133868  13.18%   287.14     C     C3        ... NA
133869  18.99%   907.73     E     E3        ... NA
133870  18.99%   916.28     E     E3        ... NA
133871  18.99%   326.79     E     E3        ... NA
133872   9.76%   385.86     B     B3        ... NA
133873  13.18%   168.91     C     C3        ... NA
133874  15.41%   174.34     D     D1        ... NA
133875  15.41%   451.53     D     D1        ... NA
133876  19.99%   560.90     E     E4        ... NA
133877   5.32%   722.76     A     A1        ... NA
133878  13.67%   204.11     C     C4        ... NA
133879  26.77%   244.22     G     G1        ... NA
133880  18.49%   618.43     E     E2        ... NA
133881   9.17%   127.52     B     B2        ... NA
133882   9.17%   159.40     B     B2        ... NA
133883   7.89%   187.72     A     A5        ... NA
133884   9.17%   191.28     B     B2        ... NA
133885  13.18%   328.98     C     C3        ... NA
133886  15.41%  1187.21     D     D1        ... NA
133887  11.22%   164.22     B     B5        ... NA
       sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc
1      NA                     NA               NA
2      NA                     NA               NA
3      NA                     NA               NA
4      NA                     NA               NA
5      NA                     NA               NA
6      NA                     NA               NA
7      NA                     NA               NA
8      NA                     NA               NA
9      NA                     NA               NA
10     NA                     NA               NA
11     NA                     NA               NA
12     NA                     NA               NA
13     NA                     NA               NA
14     NA                     NA               NA
15     NA                     NA               NA
16     NA                     NA               NA
17     NA                     NA               NA
18     NA                     NA               NA
19     NA                     NA               NA
20     NA                     NA               NA
21     NA                     NA               NA
22     NA                     NA               NA
23     NA                     NA               NA
24     NA                     NA               NA
25     NA                     NA               NA
26     NA                     NA               NA
27     NA                     NA               NA
28     NA                     NA               NA
29     NA                     NA               NA
30     NA                     NA               NA
...    ...                    ...              ...
133858 NA                     NA               NA
133859 NA                     NA               NA
133860 NA                     NA               NA
133861 NA                     NA               NA
133862 NA                     NA               NA
133863 NA                     NA               NA
133864 NA                     NA               NA
133865 NA                     NA               NA
133866 NA                     NA               NA
133867 NA                     NA               NA
133868 NA                     NA               NA
133869 NA                     NA               NA
133870 NA                     NA               NA
133871 NA                     NA               NA
133872 NA                     NA               NA
133873 NA                     NA               NA
133874 NA                     NA               NA
133875 NA                     NA               NA
133876 NA                     NA               NA
133877 NA                     NA               NA
133878 NA                     NA               NA
133879 NA                     NA               NA
133880 NA                     NA               NA
133881 NA                     NA               NA
133882 NA                     NA               NA
133883 NA                     NA               NA
133884 NA                     NA               NA
133885 NA                     NA               NA
133886 NA                     NA               NA
133887 NA                     NA               NA
       sec_app_revol_util sec_app_open_il_6m sec_app_num_rev_accts
1      NA                 NA                 NA
2      NA                 NA                 NA
3      NA                 NA                 NA
4      NA                 NA                 NA
5      NA                 NA                 NA
6      NA                 NA                 NA
7      NA                 NA                 NA
8      NA                 NA                 NA
9      NA                 NA                 NA
10     NA                 NA                 NA
11     NA                 NA                 NA
12     NA                 NA                 NA
13     NA                 NA                 NA
14     NA                 NA                 NA
15     NA                 NA                 NA
16     NA                 NA                 NA
17     NA                 NA                 NA
18     NA                 NA                 NA
19     NA                 NA                 NA
20     NA                 NA                 NA
21     NA                 NA                 NA
22     NA                 NA                 NA
23     NA                 NA                 NA
24     NA                 NA                 NA
25     NA                 NA                 NA
26     NA                 NA                 NA
27     NA                 NA                 NA
28     NA                 NA                 NA
29     NA                 NA                 NA
30     NA                 NA                 NA
...    ...                ...                ...
133858 NA                 NA                 NA
133859 NA                 NA                 NA
133860 NA                 NA                 NA
133861 NA                 NA                 NA
133862 NA                 NA                 NA
133863 NA                 NA                 NA
133864 NA                 NA                 NA
133865 NA                 NA                 NA
133866 NA                 NA                 NA
133867 NA                 NA                 NA
133868 NA                 NA                 NA
133869 NA                 NA                 NA
133870 NA                 NA                 NA
133871 NA                 NA                 NA
133872 NA                 NA                 NA
133873 NA                 NA                 NA
133874 NA                 NA                 NA
133875 NA                 NA                 NA
133876 NA                 NA                 NA
133877 NA                 NA                 NA
133878 NA                 NA                 NA
133879 NA                 NA                 NA
133880 NA                 NA                 NA
133881 NA                 NA                 NA
133882 NA                 NA                 NA
133883 NA                 NA                 NA
133884 NA                 NA                 NA
133885 NA                 NA                 NA
133886 NA                 NA                 NA
133887 NA                 NA                 NA
       sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med
1      NA                               NA
2      NA                               NA
3      NA                               NA
4      NA                               NA
5      NA                               NA
6      NA                               NA
7      NA                               NA
8      NA                               NA
9      NA                               NA
10     NA                               NA
11     NA                               NA
12     NA                               NA
13     NA                               NA
14     NA                               NA
15     NA                               NA
16     NA                               NA
17     NA                               NA
18     NA                               NA
19     NA                               NA
20     NA                               NA
21     NA                               NA
22     NA                               NA
23     NA                               NA
24     NA                               NA
25     NA                               NA
26     NA                               NA
27     NA                               NA
28     NA                               NA
29     NA                               NA
30     NA                               NA
...    ...                              ...
133858 NA                               NA
133859 NA                               NA
133860 NA                               NA
133861 NA                               NA
133862 NA                               NA
133863 NA                               NA
133864 NA                               NA
133865 NA                               NA
133866 NA                               NA
133867 NA                               NA
133868 NA                               NA
133869 NA                               NA
133870 NA                               NA
133871 NA                               NA
133872 NA                               NA
133873 NA                               NA
133874 NA                               NA
133875 NA                               NA
133876 NA                               NA
133877 NA                               NA
133878 NA                               NA
133879 NA                               NA
133880 NA                               NA
133881 NA                               NA
133882 NA                               NA
133883 NA                               NA
133884 NA                               NA
133885 NA                               NA
133886 NA                               NA
133887 NA                               NA
       sec_app_mths_since_last_major_derog
1      NA
2      NA
3      NA
4      NA
5      NA
6      NA
7      NA
8      NA
9      NA
10     NA
11     NA
12     NA
13     NA
14     NA
15     NA
16     NA
17     NA
18     NA
19     NA
20     NA
21     NA
22     NA
23     NA
24     NA
25     NA
26     NA
27     NA
28     NA
29     NA
30     NA
...    ...
133858 NA
133859 NA
133860 NA
133861 NA
133862 NA
133863 NA
133864 NA
133865 NA
133866 NA
133867 NA
133868 NA
133869 NA
133870 NA
133871 NA
133872 NA
133873 NA
133874 NA
133875 NA
133876 NA
133877 NA
133878 NA
133879 NA
133880 NA
133881 NA
133882 NA
133883 NA
133884 NA
133885 NA
133886 NA
133887 NA

### Clean Data with OpenRefine

Changes made to data using OpenRefine:
- emp_length: changed to numeric, where <1 years is 0 and 10+ years is 10
- int_rate: changed to numeric
- term: to numeric (36 months to 36 and 60 months to 60)
- home_ownership: to numeric - ANY - 4, RENT - 3, MORTGAGE - 2, OWN - 1
- verification_status: Verified - 1, Source Verified - 2 and Not Verified - 3
- issue_d: months to numeric
- zip_code:  instead of ***XX only numbers kept (i.e 321XX to 321)
- removing blank lines (last 2 rows for each quarter) - that contained info about total amount founded by policy code 1 and 2.
- removing unnecessary features that are cannot be used for assigning interest rate: 
    - id
    - member_id
    - loan status (is not known at the moment of assigning interest rate)
    - payment plan (only yes - if trouble paying loan)
    - installment (calculated from interest and loan amount) - so direct correlation
    - emp_title - too many different titles, should cluster before
    - url - to given case (need to be member in Lending Club to check this)
    - desc - only couple of descriptions
    - title - subtitle of purpose (only little more information, mostly overlapping)
    - earliest_cr_line

### Taking Care of Unknown Values

In [1]:
train_data <- read.csv("data_loan/data16_cleaned2.csv")
test_data <- read.csv("data_loan/data17_test_cleaned2.csv")

In [2]:
# Change factor values to numeric
train_data$emp_length <- as.numeric(as.character(train_data$emp_length))
test_data$emp_length <- as.numeric(as.character(test_data$emp_length))
test_data$home_ownership <- as.numeric(as.character(test_data$home_ownership))

Warning message in eval(expr, envir, enclos):
"NAs introduced by coercion"Warning message in eval(expr, envir, enclos):
"NAs introduced by coercion"Warning message in eval(expr, envir, enclos):
"NAs introduced by coercion"

In [4]:
mean1 <- round(mean(train_data[, "inq_last_6mths"], na.rm=TRUE))  # Mean value for that attribute
# Max for following two as I assume there are no information because no delinq's or record's happened or available
max2 <- max(train_data[, "mths_since_last_delinq"], na.rm=TRUE)  
max3 <- max(train_data[, "mths_since_last_record"], na.rm=TRUE)
# Mean value for revol_util attribute
mean4 <- mean(train_data[, "revol_util"], na.rm=TRUE)
mean5 <- mean(train_data[, "emp_length"], na.rm=TRUE)

# Same thing for test data
t_mean1 <- round(mean(test_data[, "zip_code"], na.rm=TRUE))  # Should look for closest neighbors to predict this?
# Max for following two as I assume there are no information because no delinq's or record's happened or available
t_max2 <- max(test_data[, "mths_since_last_delinq"], na.rm=TRUE)  
t_max3 <- max(test_data[, "mths_since_last_record"], na.rm=TRUE)
# Mean value for revol_util attribute
t_mean4 <- mean(test_data[, "revol_util"], na.rm=TRUE)
t_mean5 <- mean(test_data[, "emp_length"], na.rm=TRUE)

#### Replace NA-s with Mean and Max values of Attributes

In [5]:
train_data[is.na(train_data[, "inq_last_6mths"]), "inq_last_6mths"] <- mean1
train_data[is.na(train_data[, "mths_since_last_delinq"]), "mths_since_last_delinq"] <- max2
train_data[is.na(train_data[, "mths_since_last_record"]), "mths_since_last_record"] <- max3
train_data[is.na(train_data[, "revol_util"]), "revol_util"] <- mean4
train_data[is.na(train_data[, "emp_length"]), "emp_length"] <- mean5

test_data[is.na(test_data[, "zip_code"]), "zip_code"] <- t_mean1
test_data[is.na(test_data[, "mths_since_last_delinq"]), "mths_since_last_delinq"] <- t_max2
test_data[is.na(test_data[, "mths_since_last_record"]), "mths_since_last_record"] <- t_max3
test_data[is.na(test_data[, "revol_util"]), "revol_util"] <- t_mean4
test_data[is.na(test_data[, "emp_length"]), "emp_length"] <- t_mean5
test_data[is.na(test_data[, "home_ownership"]), "home_ownership"] <- 4  # means ANY (as we do not know the right val)

## Predicting Interest Rates

### Split Data to Train, Validation and Test

In [96]:
set.seed(10)
n <- nrow(train_data)
sample <- sample(n, n*0.75)
data_train <- train_data[sample,]
data_val <- train_data[-sample,]

int_rate_train <- data_train$int_rate
int_rate_val <- data_val$int_rate
int_rate_test <- test_data$int_rate

grade_train <- data_train$grade
grade_val <- data_val$grade
grade_test <- test_data$grade


# Remove int_rate, grade, sub_grade - all these are targets      
data_train <- data_train[, c(-5, -6, -7)]
data_val <- data_val[, c(-5,-6,-7)]
data_test <- test_data[, c(-5,-6,-7)]
data_train_w <- train_data[, c(-5, -6, -7)]  # whole train data for final model

# Special data sets with target values
data_train_int <- data_train
data_train_int$int_rate <- int_rate_train

data_train_w_int <- data_train_w
data_train_w_int$int_rate <- train_data$int_rate

data_train_grade <- data_train
data_train_grade$grade <- grade_train

In [ ]:
data_train_scaled <- scale(train_data)
colMeans(data_train_scaled)  # faster version of apply(scaled.dat, 2, mean)
apply(data_train_scaled, 2, sd)
data_test_scaled <- scale(test_data)

data_train_norm <- 
data_test_norm <-

### Linear Regression

In [43]:
# Calculate Root Mean Squared Error (RMSE)
rmse <- function(actual, predicted)
{
    error <- actual - predicted
    return(sqrt(mean(error^2)))  
    # sum(error^2)/n, can be used also <- n, n-1, n-2 (n-1, n-2 for some statistical reasons can be also used)
}

# Function to get model and RMSE and adjusted R-Square values
get_model <- function(formula, dat, y, trace = TRUE)
{
    model <- lm(formula, dat)
    y.pred <- predict(model)
    if(trace)
    {
        print(sprintf("For given model the RMSE is %0.3f.", rmse(y, y.pred)))
        print(sprintf("For given model the Adjusted R-Squared is %0.3f.", summary(model)$adj.r.squared))
    }

    return(model)
}

In [47]:
form1 <- int_rate ~ 1
model <- get_model(form1, dat = data_train_int , y = int_rate_train)

[1] "For given model the RMSE is 4.928."
[1] "For given model the Adjusted R-Squared is 0.000."

In [66]:
form3 <- int_rate ~ loan_amnt + term + home_ownership + verification_status + purpose + annual_inc + issue_d +
fico_range_low + inq_last_6mths + mths_since_last_delinq + open_acc + revol_bal + 
revol_util + total_acc + emp_length + mths_since_last_record

model4 <- get_model(form3, dat = train_data, y = train_data$int_rate)  # 
#summary(model4)

[1] "For given model the RMSE is 3.806."
[1] "For given model the Adjusted R-Squared is 0.404."

In [92]:
#y.pred <- predict(model4, data_val)
#paste("Val RMSE:", round(rmse(y.pred, int_rate_val),3))

y.pred <- predict(model4, data_test)
paste("Test RMSE:", round(rmse(y.pred, int_rate_test),3))

[1] "Test RMSE: 4.387"

### Polynomial Regression

In [89]:
#poly(dti,4) + annual_inc + issue_d does not work well on test set
# For some reason annual income made the outcome far worse.

form_poly <- int_rate ~ poly(loan_amnt,3) + term + poly(home_ownership,3) + poly(dti, 4) + 
annual_inc + issue_d + poly(verification_status, 2) + purpose + poly(fico_range_low,2) + inq_last_6mths + 
mths_since_last_delinq + mths_since_last_record + open_acc + poly(revol_bal,3) + 
revol_util + poly(total_acc,3) + emp_length

model_poly <- get_model(form_poly, dat = train_data, y = train_data$int_rate)  # 
#summary(model_poly)

[1] "For given model the RMSE is 3.647."
[1] "For given model the Adjusted R-Squared is 0.453."

In [91]:
#y.pred <- predict(model_poly, data_val)
#paste("Val RMSE:", round(rmse(y.pred, int_rate_val),3))

y.pred <- predict(model_poly, data_test)
paste("Test RMSE:", round(rmse(y.pred, int_rate_test),3))

[1] "Test RMSE: 4.484"

### Gradient Boosting

Seems to give best results out of all the tried methods

In [94]:
# Libraries
library(caret)
library(gbm)

In [13]:
# Formulas from linear regression
form_gb <- int_rate ~ loan_amnt + term + home_ownership + verification_status + purpose + 
fico_range_low + inq_last_6mths + mths_since_last_delinq + open_acc + revol_bal + 
revol_util + total_acc + emp_length + mths_since_last_record

Gradient Boosting seems to give best results, so let's try different values for variables.

In [8]:
gbm.model <- gbm(int_rate ~ ., data = data_train_w_int,
n.trees=1000,
shrinkage=0.05,
distribution="gaussian",
interaction.depth=7,
bag.fraction=0.9,
cv.fold=5,
n.minobsinnode = 50)

In [34]:
y.pred <- predict(gbm.model, n.trees = 1000, data_train_w_int)
rmse(train_data$int_rate, y.pred)

[1] 4.12146

In [100]:
# Should change some categoric values to numeric - in this case issue_d could change the outcome

y.pred <- predict(gbm.model, n.trees = 1000, test_data)
rmse(test_data$int_rate, y.pred)

ERROR: Error in UseMethod("predict"): no applicable method for 'predict' applied to an object of class "character"

In [99]:
save(file = "models/gbm_model_new.rda")

### SVM

In [64]:
library(e1071)

In [104]:
svm.model <- svm(int_rate ~ ., data = data_train_w_int, cost = 10, gamma = 1)
svm.model

Call:
svm(formula = int_rate ~ ., data = sub_data1, cost = 100, gamma = 1)


Parameters:
   SVM-Type:  eps-regression
 SVM-Kernel:  radial
       cost:  100
      gamma:  1
    epsilon:  0.1


Number of Support Vectors:  8915

In [110]:
svm.pred <- predict(svm.model, data_train_w)
head(svm.pred)

       7        9       14       23       24       25
13.08959 13.08624 12.99336 13.07823 13.08942 13.08104

In [116]:
rmse(svm.pred, train_data$int_rate)
# Something wrong 825 predictions

[1] 4.844893

In [113]:
svm.pred <- predict(svm.model, data_test)

In [50]:
rmse(svm.pred, test_data$int_rate)

[1] 4.849669

### Neural Net

In [ ]:
library(nnet)
nnet.fit <- nnet(int_rate ~ ., data=data_train_w_int, size=10, 
                 linout=TRUE, skip=TRUE, MaxNWts=10000, trace=FALSE, maxit=100)

In [ ]:
nnet.pred <- predict(nnet.fit)
rmse(nnet.pred, train_data$int_rate)

In [ ]:
nnet.pred <- predict(nnet.fit, test_data)
rmse(nnet.pred, test_data$int_rate)

## Predicting Interest Grade

In [27]:
nrow(train_data)
nrow(test_data)

[1] 434407

[1] 96779

### Logistic Regression

In [ ]:
library(VGAM)
# load data
data(iris)
# fit model
fit <- vglm(Species~., family=multinomial, data=iris)
# summarize the fit
summary(fit)
# make predictions
probabilities <- predict(fit, iris[,1:4], type="response")
predictions <- apply(probabilities, 1, which.max)
predictions[which(predictions=="1")] <- levels(iris$Species)[1]
predictions[which(predictions=="2")] <- levels(iris$Species)[2]
predictions[which(predictions=="3")] <- levels(iris$Species)[3]
# summarize accuracy
table(predictions, iris$Species)

### Naive Bayes

In [ ]:
data_train_w_grade <- cbind(data_train_w, train_data$grade)
colnames(data_train_w_grade)[ncol(data_train_w_grade)] = "grade"

nB <- naiveBayes(grade ~ ., data = data_train_w_grade)

target_col <- which(colnames(data_train_w_grade) == "grade")

nb.pred1 <- predict(nB, data_train_w_grade[,-target_col], type = "class")

sum(train_data$grade == nb.pred1)
sum(train_data$grade == nb.pred1)/nrow(train_data)

rmse(as.numeric(nb.pred1), as.numeric(train_data$grade))

In [ ]:
nb.pred2 <- predict(nB, data_test, type = "class")

sum(test_data$grade == nb.pred2)
sum(test_data$grade == nb.pred2)/nrow(test_data)

rmse(as.numeric(nb.pred2), as.numeric(test_data$grade))

Not the best overall accuracy, however the grade missing on average by 1.22.

### KNN

In [10]:
sub_set <- sample(nrow(sub_sample_data), nrow(sub_sample_data)*0.75)
train <- sub_sample_data[sub_set,]
class <- sub_data2[sub_set, "grade"]
test <- sub_sample_data[-sub_set,]
train_grade <- train
test_grade <- test
train_grade$grade <- class
test_grade$grade <-  sub_data2[-sub_set, "grade"]

In [11]:
library(class)

In [ ]:
knn.pred <- knn(data_train_w[, c(-10, -12)], data_test[, c(-10, -12)], 
                train_data$grade, k = 10)  # 10 closest members

In [24]:
sum(test_data$grade == knn.pred)
sum(test_data$grade == knn.pred)/nrow(test_data)

rmse(as.numeric(knn.pred), as.numeric(test_data$grade))

[1] 731

[1] 0.2924

[1] 1.408119

### Random Forest

In [12]:
library(randomForest)

In [13]:
rf1 <- randomForest(grade ~ ., data_train_w_grade, ntree = 100)

In [14]:
rf1

Call:
 randomForest(formula = grade ~ ., data = train_grade, ntree = 100)
               Type of random forest: classification
                     Number of trees: 100
No. of variables tried at each split: 4

        OOB estimate of  error rate: 59.01%
Confusion matrix:
    A    B    C   D  E F G class.error
A 653  462  122   4  0 0 0   0.4738114
B 332 1201  742  52  3 0 0   0.4845494
C 122  910 1107 109 40 2 0   0.5165939
D  27  287  578  76 30 0 0   0.9238477
E   3   81  273  75 37 1 0   0.9212766
F   1   18   82  17 15 0 0   1.0000000
G   0    5   20   8  5 0 0   1.0000000

In [ ]:
rf.pred <- predict(rf1, data_train)

In [ ]:
sum(train_data$grade == rf.pred)/nrow(data_train)
rmse(as.numeric(rf.pred), as.numeric(train_data$grade))

In [16]:
rf.pred2 <- predict(rf1, data_test)

In [19]:
sum(test_data$grade == rf.pred2)/nrow(test_data)
rmse(as.numeric(rf.pred2), as.numeric(test_data$grade))

[1] 0.4308

[1] 1.098727

### SVM

In [22]:
library(e1071)

In [ ]:
# SVM to predict interest grade
svm.model <- svm(grade ~ ., data = data_train_w_grade, cost = 10, gamma = 1)

In [ ]:
svm.pred <- predict(svm.model, data_train)

In [25]:
sum(train_data$grade == svm.pred)/nrow(data_train)
rmse(as.numeric(svm.pred), as.numeric(train_data$grade))

[1] 1

[1] 0

In [26]:
svm.pred2 <- predict(svm.model, data_test)

sum(test_data$grade == svm.pred2)/nrow(test)
rmse(as.numeric(svm.pred2), as.numeric(test_data$grade))

[1] 0.298

[1] 1.413648